* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  text-align: center;
}

.dice {
  display: flex;
  justify-content: center;
}

.die {
  margin: 10px;
}

.die i {
  font-size: 15rem;
}
